:root {
    --color-primary: #2196f3;
    --color-secondary: #2f303a;
    --primary-text-color: #212121;
    --white-color: #fff;

}

body {
    font-family:  'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}


.logo-link {
    font-family: 'Raleway';
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-primary);
}

.logo-header {
    text-decoration: none;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-primary);
}

.mail-tel-section .link {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-tel-section .link:hover,
.mail-tel-section .link:focus {
    color: var(--color-primary);
}

.main-section {
    width: 1600px;
    background: var(--color-secondary);
}


.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
    background-color: var(--color-secondary);
    color: var(--white-color);
}

.primary-button {
    color: var(--white-color);
    background-color: var(--color-primary);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.primary-button:hover,
.primary-button:focus {
    color: var(--white-color);
    background-color: #188CE8;
}

.section-achievements .title-list {
font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.section-achievements .paragraph-list {
    font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}

.title-section {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.section-team {
    background-color: #f5f4fA;;
}

.section-team .list1 {
    background-color: var(--white-color);
    list-style-type: none;
}

.team-member {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}

.team-member-specialization {
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #757575;
}

.footer {
    background-color: var(--color-secondary);
    width: 1600px;
}

.footer-list {
    font-style: normal;
}

.footer .logo-header {
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-primary);
}

.footer .logo-header {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--white-color);
}

.link-map {
    font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--white-color);
        text-decoration: none;
}

.adress-link {
    font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
    color: var(--color-primary);
}

.secondary-button {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    cursor: pointer;

}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--white-color);
    background-color: var(--color-primary);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.portfolio-dscr {
    font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: #757575;
}